<style>
    #logo:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }


    .transition
    {
      transition:  transform 1s;
    }

    .transition:hover
    {


      transform: scale(1.4);
    }

    #logo {
      width: 900px;
      height: 200px;
      margin: 0 auto;
      text-align: center;
    }

    #header {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #clock {
      position: absolute;
      // bottom: 0;
      margin-top: 50px;
      width: 100%;
      text-align: center;
      color: blue;
      display: grid;
    }

    #clock input {
      border: none;
      font-size: 7vw;
      text-align: center;
      color:  #4682B4;
    }

    .container{
      filter: invert(var(--invert-value, 100%));
      background-color: #FFFFFF;
    }
    #invert-slider {
      width: 200px;
      height: 20px;
      background-color: #ccc;
      border-radius: 10px;
      outline: none;
      margin-left: 10px;
      margin-right: 10px;
    }

    #invert-slider::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      background-color: #4682B4;
      border-radius: 50%;
      -webkit-appearance: none;
      margin-top: 0px;
    }

    #invert-slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background-color: #4682B4;
      border-radius: 50%;
      appearance: none;
      margin-top: -8px;
    }

    #rodape {
      position: fixed;
      bottom: 0;
      margin-bottom: 18vw;
      width: 100%;
      height: 10vh;
      background-color: #fff;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
    }


    .weather-widget {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #f4f4f4;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 200px;
      height: auto;
      margin-left: 20px;
    }


    .weather-icon {
      background-image: url('icons/01d.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 80px;
      height: 80px;
    }

    .weather-temp {
      font-size: 5vw;
      margin-top: 10px;
    }

    #temperatura{
      margin-right: 1vw;
    }

    body, html {
      margin: 0;
      padding: 0;
    }

    .no-border {
      border:none !important;
    }



    /*.cancel-alarm {
      background-color: #e74c3c;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
    }*/

@media screen and (min-width: 900px) {
      #logo {
        width: 100%;
      }

      #clock {
        font-size: 8vw !important;
      }

      #clock input {
        font-size: 12vw;
      }

      #rodape {
        margin-bottom: 12vw;
        margin-top: 1vw;
      }
    }

    @media screen and (max-width: 768px) {
      #logo {
        width: 100%;
      }

      #clock {
        font-size: 8vw !important;
      }

      #clock input {
        font-size: 12vw;
      }
    }

    @media screen and (max-width: 480px) {
      #logo {
        width: 100%;
      }

      #clock {
        font-size: 10vw;
        margin-top: 10%;
      }

      #clock input {
        font-size: 18vw;
      }
    }
    strong{
      font-size: 2vw;
      color: #4682B4;
    }




  </style>